/***********************************
      GLOBAL STYLES
************************************/

body {
  position: relative;
  color: #343434;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body::before {
  content: "";
  background-image: url("../images/background.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

img {
  width: 300px;
}

a {
  color: orange;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

/*********************** 
END OF GLOBAL STYLES 
**************************/

/*********************** 
Main section styles 
*************************/

/****** Header Styles ********/
header {
  background: #2f3061;
  color: #f7fff7;
}

/******** project styles *******************/

.projects {
  background: #f7fff7;
  margin: 10px 0px;
}

.projects section a {
  color: #f7fff7;
  background: #343434;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.projects section a:hover {
  background: #636262;
}

/******** Work Experience styles *******************/

.workExperience {
  background: #a1c6d7;
}

/********* footer Styles ***************/

footer {
  background: #343434;
  color: orange;
}

/*************************** 
End of Main section styles 
*******************************/
